<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_Management_System_Project.My.MySettings.Hotel_SystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\shrey\source\repos\Hotel_Management_System_Project\Hotel_System.mdb"
            providerName="System.Data.OleDb" />
        <add name="Hotel_Management_System_Project.My.MySettings.Hotel_SystemConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\vikas\OneDrive\Documents\vb.net\Hotel_Management_System_Project\Hotel_System.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>